[submodule "translators"]
	path = translators
	url = https://github.com/zotero/translators.git
[submodule "translation/translate"]
	path = translation/translate
	url = https://github.com/zotero/translate.git
[submodule "pdf_js"]
	path = pdf_js
	url = https://github.com/mozilla/pdf.js.git
